@import 'public/styl/*'

body 
  font-family 'Lora', serif 
  color beertext 

.title
  font-family 'Vast Shadow', cursive

button 
  margin-left 0.25rem
  margin-right 0.25rem

#beer-form-wrapper
  margin-top 5rem
  margin-bottom 5rem
  
footer 
  min-height 33vh
  background-color whiskey   
  color whitesmoke
  h1 
    padding-top 3rem
    line-height 3rem
    text-align center
  h5 
    font-style italic
    text-align right

.copyright
  text-align center
  
  color whitesmoke
  background-color whiskey 

.btn-info  
  background-color whiskeyO 
  border-color whiskeyO 

.btn-info:hover
  background-color whiskey !important
  border-color whiskey !important
